[Unit]
Description=Set Ascend vNPU mode to VM
After=systemd-modules-load.service local-fs.target
Before=pve-guests.service
ConditionPathExists=/usr/local/sbin/npu-smi

[Service]
Type=oneshot
Environment=MIN_DEVICE_COUNT=1
ExecStart=/usr/local/sbin/ascend-vnpu-vm-mode
RemainAfterExit=yes
TimeoutStartSec=200

[Install]
WantedBy=multi-user.target
